{% extends 'Index.html' %}

{% block content %}
<div class="page-header">
	<h1>Todo</h1>
</div>
{% if error %}
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Warning!</h4>
    <p>{{ error }}</p>
</div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-body">
        <form method="POST" action="/todo" class="form-horizontal">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.title.label(class="col-lg-2 control-label") }}
                {{ form.title }}
            </div>
            
            {{ form.submit(class="btn btn-primary") }}

        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item">                     
                    {{ item.title }}
                    <input class="btn btn-primary btn-xs pull-right" type="submit" value="Complete" onclick=deleteItem(this)></input>   
                </li>  
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

<script>
    function deleteItem(item) {
        alert(item.title + ' : Not impelmented yet, try again later')
    }
</script>